.mandala-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  color: white;
  font-size: 50px;
  font-family: "Lucida Console", Monaco, monospace;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  weight: bold;
  display: flex;
  justify-content: center;
}

.line-color-container{
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
  height: 34px;
  overflow: hidden;
  width: 240px;
  background-color: #4d93d6;
}

.line-weight-container {
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
  height: 34px;
  overflow: hidden;
  width: 60px;
  background-color: #4d93d6;
}

.line-color-dropdown{
  font-family: "Lucida Console", Monaco, monospace;
  background: transparent;
  border: none;
  font-size: 14px;
  height: 29px;
  padding: 5px;
  width: 268px;
}

.line-weight-dropdown {
 font-family: "Lucida Console", Monaco, monospace;
 background: transparent;
 border: none;
 font-size: 16px;
 height: 29px;
 padding: 5px;
 width: 60px;
}


.line-color-container.blue select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
}

.line-weight-container.blue select {
  border: 1px solid #ccc;
  font-size: 16px;
  height: 34px;
  width: 80px;
}

.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}


#clear-button {
  height: 34px;
  overflow: hidden;
  width: 60px;
  font-family: "Lucida Console", Monaco, monospace;
  background-color: #4d93d6;
  border: none;
  font-size: 16px;
}

.toolbox {
  display: flex;
  justify-content: center;
  width: 50vw;
}

.toolbox > * {
  margin: 20px;
}
/*** Styles added to fix the issue with zoom in on iphone ***/
/* iPhone < 5: */
@media screen and (device-aspect-ratio: 2/3) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */
@media screen and (device-aspect-ratio: 375/667) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */
@media screen and (device-aspect-ratio: 9/16) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}
